body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: black;
    height: 100%;
    width: 100%;
    margin: 0
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 13px 20px 0 16px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgb(240, 240, 240);
    font-size: 14px;
}

@media (max-height: 450px) {
    footer {
        /*display: none;
        visibility: hidden;*/
        position: relative;
    }
}

#header-left {
    position: fixed;
    top: 21px;
    left: 17px;
    display: flex;
    align-items: center;
}

#header-right {
    position: fixed;
    top: 13px;
    right: 30px;
    display: flex;
    align-items: center;
}

#gmail-link {
    opacity: 100%;
}

#images-link {
    opacity: 100%;
}

#app-launcher-image {
    background-size: 32px 32px;
    width: 25px;
    opacity: 80%;
    padding-right: 8px
}

#app-launcher-image:hover {
    opacity: 100%;
}

#profile-photo {
    background-size: 32px 32px;
    width: 32px;
    border-radius: 50%;
}

@media (max-height: 525px) {
    #google-logo {
        animation-fill-mode: forwards;
        animation-duration: 0.25s;
        animation-name: slide-up-logo;
    }

    #search-elements {
        animation-fill-mode: forwards;
        animation-duration: 0.25s;
        animation-name: slide-up-form;
    }

    @keyframes slide-up-logo {
        0% {
            transform: translateY(0%)
        }

        100% {
            transform: translateY(-25%) scale(0.75);
        }
    }

    @keyframes slide-up-form {
        0% {
            transform: translateY(0%)
        }

        100% {
            transform: translateY(-80%);
        }
    }
}

@media (min-height: 525px) {
    #google-logo {
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
        animation-name: slide-down-logo;
    }

    #search-elements {
        animation-fill-mode: forwards;
        animation-duration: 0.5s;
        animation-name: slide-down-form;
    }

    @keyframes slide-down-logo {
        0% {
            transform: translateY(-25%) scale(0.75);
        }

        100% {
            transform: translateY(0%);
        }
    }

    @keyframes slide-down-form {
        0% {
            transform: translateY(-80%)
        }

        100% {
            transform: translateY(0%);
        }
    }
}

#google-logo {
    position: relative;
    display: block;
    margin: auto;
    padding-top: 155px;
    padding-bottom: 20px;
    z-index: -1;
}

#search-elements {
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    
}

#search-box {
    border: none;
    border-radius: 25px;
    width: 68%;
    max-width: 400px;
    height: 45px;
    box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.2);
    padding: 0 50px;
    margin: 10px 0 25px 0;
    font-size: 16px;
}

#search-box:focus {
    outline: none;
}

#leaf-image {
    width: 13px;
    height: 13px;
    transform: rotate(5deg);
    opacity: 100%;
}

#footer-top-center {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    opacity: 90%;
}

#footer-bottom-right {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 16px;
    opacity: 90%;
}

#footer-middle-left {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    left: 16px;
    opacity: 90%;
}

@media (max-width: 600px) {
    #footer-top-center {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        opacity: 90%;
    }

    #footer-bottom-right {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        opacity: 90%;
        right: 0;
    }
    
    #footer-middle-left {
        position: relative;
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        opacity: 90%;
        left: 0;
    }
}

@media (min-width: 600px) and (max-width: 1200px) {
    #footer-top-center {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        opacity: 90%;
    }

    #footer-bottom-right {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: right;
        opacity: 90%;
        right: 30px;
    }
    
    #footer-middle-left {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: left;
        opacity: 90%;
        left: 30px;
    }
}

[type='submit'] {
    border: none;
    border-radius: 3px;
    padding: 9px 17px;
    margin: 4px;
    background-color: rgba(248, 248, 248);
    font-size: 14px;
    color: rgb(60, 60, 60);
}

[type='submit']:hover {
    border: 1px solid rgb(200, 200, 200);
    border-bottom: 2px solid rgb(200, 200, 200);
    box-shadow: black;
}

.header-link {
    color: black;
    text-decoration: none;
    opacity: 75%;
    padding: 2px 8px;
}

.header-link:hover {
    text-decoration: underline;
}

.footer-link {
    color: black;
    text-decoration: none;
    opacity: 60%;
    padding: 16px;
}

.footer-link:hover {
    text-decoration: underline;
}